<!-- <p>quote1-form works!</p> -->
<div class="container-fluid">
  <div class="form1">
    <h2 class="text-center" id="hd2">Create new Quote</h2>
    <br>
    <form (ngSubmit)='submitQuotes()' #quoteForm='ngForm'>
      <div class="form-group">
        <label for="name" id="l1">Your Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="newQuotes.name" name="name" #name='ngModel'
        placeholder="Write Your Name" required>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          <p>Name is required</p>
        </div>
      </div>
      <div class="form-group">

        <label for="quote" id="l1">Write Quote</label>
        <textarea class="form-control" id="quote" rows="2" [(ngModel)]="newQuotes.author" name="quote" #quote="ngModel"
           placeholder="Write Your Quote here" required></textarea>
        <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
          <p>Quotes is required</p>
        </div>

      </div>
      <div class="form-group">
        <label for="complete" id="l1">Date of the Quote</label> <br>
        <input type='date' id="complete" [(ngModel)]="newQuotes.completeDate" name="completeDate"
          #completeDate="ngModel" required>
        <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
          <p>Date is required</p>
        </div><br>

      </div>
      <button type="submit" id="btn">Add Quotes</button>
      <div>
        <p></p>
      </div>
    </form>
  </div>
</div>