<!-- <p>quote1 works!</p> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6" id="form2">
      <h3 id="hd3">Quotes</h3> <br>
      <div *ngFor='let quotes of quote; let i = index '>
        <ul>
          <li>{{quotes.name}} Says on {{quotes.completeDate|date|uppercase}}</li>
        </ul>
        <div> <button (click)='toggleDetails(i)' class="btn btn-primary">Show Quote</button> </div> <br>
        <div *ngIf='quotes.showAuthor'>
          <app-quote1-details *ngIf='quotes.showAuthor' [quotes]='quotes' (isComplete)='deleteQuotes($event,i)'>
          </app-quote1-details>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <app-quote1-form (addQuotes)="addNewQuotes($event)"></app-quote1-form>
    </div>
  </div>
</div>