h1{
    font-size: 400%;
    font-family: 'Libre Caslon Display', serif;
    color: #996633;
    text-align: center;
}
.jumbotron{
    /* background-color:rgb(24, 24, 31); */
    background-color:black;
}
#head2{
    color: #FDFEFE;
    font-size: 200%;
    font-family: 'Play', sans-serif;  
}
p{
    color: #FDFEFE;
    font-size: 170%;
    font-family: 'Times New Roman', Times, serif;
}
.footer{
   background-color: black;
  }
  #copy{
    color:#996633;
    font-size: 20px;
    text-align: center;
    font-style: oblique;
  }
