h1{
    font-size: 400%;
    font-family: 'Libre Caslon Display', serif;
    color: #996633;
    text-align: center;
}
.jumbotron{
    /* background-color:rgb(24, 24, 31); */
    background-color:black;
}
#head2{
    color: #FDFEFE;
    font-size: 200%;
    font-family: 'Play', sans-serif;  
}
p{
    color: #FDFEFE;
    font-size: 150%;
    font-family: 'Play', sans-serif;
}
