<div class="container-fluid">
  <div class="jumbotron">
<link href="https://fonts.googleapis.com/css?family=Hind|Libre+Caslon+Display&display=swap" rel="stylesheet">
  <h1>Welcome to {{ title }}</h1> 
  <br>
  <div class="row">
  <div class="col-md-6">
  <img width="300" alt="Quate Logo" src="https://cdna.artstation.com/p/assets/images/images/011/894/990/large/jerry-ubah-logo2.jpg?1531974604">
  </div>
  <div class="col-md-6">
    <br> <br>
    <h2 id="head2"> Welcome to my site.</h2>  
    <p> <br> This is a website where you can Add your Quotes and you will be able to delete that Quotes</p>
  </div>
</div>
</div><br>
<h2> My Favorite quotes </h2>

<router-outlet></router-outlet>
</div>