<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/css?family=Hind|Libre+Caslon+Display&display=swap" rel="stylesheet">
<div style="text-align:center">
  <h1 style="color: #996633;">
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Quate Logo" src="https://cdna.artstation.com/p/assets/images/images/011/894/990/large/jerry-ubah-logo2.jpg?1531974604">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>
